<% layout("./layouts/boilerplate.ejs") -%>
<body>
  <div class="row edit-listings">
    <div class="col-7 offset-2 ">
    <form action="/listings/<%=editData._id%>?_method=PUT" method="post">
      <h2>Edit Your Listing</h2>
      <label for="title" class="form-label">Title</label>
      <input type="text" name="title" class="form-control" value="<%=editData.title%>">

      <label for="description" class="form-label">Description</label>
      <textarea name="description" class="form-control"><%=editData.description%></textarea>
      
      <label for="imageurl" class="form-label">Image-url/Link</label>
      <input type="text" name="imageurl" class="form-control" value="<%=editData.image.url%>">
      <div class="row edit-2-row">
        <div class="col-4">
          <label for="price" class="form-label">Price</label>
          <input type="number" name="price" value="<%=editData.price%>" class="form-control">
        </div>
        <div class="col-8">
            <label for="location" class="form-label">Location</label>
            <input type="text" name="location" value="<%=editData.location%>" class="form-control">
        </div>
      </div>
      <label for="country" class="form-label">Country</label>
      <input type="text" name="country" value="<%=editData.country%> "class="form-control">
      
      <button class="btn btn-primary edit-btn">Edit</button>
      
    </form>
   </div>
   </div> 
</body>
